<div class="centrar">

  <div class="container">

    <div class="container_image">
      <img class="image" src="{{imagem}}" alt="Imagem do livro {{titulo}}">
    </div>

    <div class="texto">
      <h1 class="livro">{{titulo}}</h1>
      <p class="autor">Autor: {{nome}}</p>
      <p class="autor">Nº de vendas: {{vendas}} volumes.</p>
      <p class="ano">{{ano}}</p>
    </div>

    <div class="olho" (click)="olhoAzul()">
      <!--<a href=""-->
      <fa-icon [icon]="faEye"></fa-icon>
   <!--   ></a>-->
    </div>

  </div>




</div>





