.centrar {
  max-width: 550px;
  margin: auto;
}

.container {
  /*max-width: 550px;
  margin: auto;*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: gray 0 0 10px;
  margin: 20px;

  /* -------------- IMAGEM -------------- */

  .container_image {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    box-shadow: dimgrey 0 5px 10px;
    border-radius: 12px;
    margin: 15px 25px 25px 25px;
    max-width: 80px;

    .image {
      width: 100%;
      height: 100%;
      /*flex-shrink: 0;*/

    }
  }

  /* -------------- TEXTO -------------- */

  .texto {
    padding-bottom: 15px;
    min-width: min-content;
    margin-right: auto;


    .livro {
      font-size: 24pt;
      margin-bottom: 0;
      font-family: 'Tangerine', cursive;
    }

    .autor {
      margin: 5px 0 10px 0;
      font-size: 18pt;
      font-family: 'Tangerine', cursive;
    }
    .vendas
    {
      font-size: 8pt;
    }

    .ano {
      background-color: #6ac731;
      border-radius: 12px;
      color: white;
      display: inline-block;
      font-size: 8pt;
      padding: 2px 15px 3px 15px;
      margin: 0;
    }
  }

  /* -------------- OLHO -------------- */

  .olho {
    align-items: center;
    color: hotpink;
    font-size: 25px;
    padding: 35px;
    cursor: pointer;
  }
}
