<div class="centrar">

  <div class="container">

    <div class="container_image">
      <img class="image" src="{{imagem}}" alt="Imagem do livro {{titulo}}">
    </div>

    <div class="texto">
      <h1 class="livro">{{titulo}}</h1>
      <p class="autor">{{nome}}</p>
      <p class="vendas">Nº de vendas: {{vendas}} volumes.</p>
      <p class="ano">{{ano}}</p>
    </div>


    <a class="olho" >
      <fa-icon [icon]="faEye" [routerLink]="['/detalhes', id]"></fa-icon>
    </a>


  </div>




</div>





