<nav  class="navegacao">

  <div class="iconsNav">

    <a routerLink="livros">
      <fa-icon class="iconNav"  id="1" [icon]="faBookOpen" routerLinkActive="active"></fa-icon>
    </a>

    <a routerLink="autores">
      <fa-icon class="iconNav"  id="2" [icon]="faPenNib" routerLinkActive="active"></fa-icon>
    </a>

    <a routerLink="favoritos">
      <fa-icon class="iconNav"  id="3"  [icon]="faBookmark" routerLinkActive="active"></fa-icon>
    </a>

    <a routerLink="vendas">
      <fa-icon class="iconNav"  id="4" [icon]="faList" routerLinkActive="active"></fa-icon>
    </a>

  </div>

</nav>


