.content
{
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap

}

img
{
  margin:10px;
  width: 100px;
  border-radius: 10px;
  box-shadow: gray 0 0 5px;
}
